<article>
    <h2>The Value of Money</h2>
    <div>
        <figure>
            <img src="./img/money.jpg" alt="coins" /> 
            <figcaption class="figdetail">Coins around the world</figcaption>
        </figure>
        <p>The value of money is determined by the demand for it. And demand changes over time. Even though it seems easy to understand when it is considered the time is the only factor that affects the value of money, in reality there are lots of factors that are play complex and indirect roles. Value of a currency depends on the production of that country, economic performance and also political relations with other countries. A currency might increase its numeric vaue while loosing its purchasing power.Time not only affects the value of money during a continuous period, it also has power to determine the current and future value of it. Is it better to have 10.000 US Dollars now that having 12.000 Us Dollars in two years? To answer this question a complex formula need to be run to calculate the expected value of future money with current demand and expected trend over time. </p>
    </div>
</article>
<hr>
<article>
    <h2>GMO Food</h2>
    <div>
        <figure>
            <img src="./img/potato.jpg" alt="potatoes" /> 
            <figcaption class="figdetail">Does genetically modified foods safe?</figcaption>
        </figure>
        <p> GMO foods which also known as genetically engineered foods are foods created in a labratory by making changes on their DNA by genetical engineers. As all foods on the market, GMO foods also requires some safety assessments before introduced to the markets. Currently there is not enough evidence to say that GMO foods are dangerous and not good for human health. Test that have been made on humans who consumed GMO foods and compared with a control group. the control group haven't consumed any GMO foods. Results show that there is no difference between those groups. Still, more time and tests are needed to be fully sure and say that GMO foods has no side effects on human health.</p>
    </div>
</article>
<hr>
   <article>
    <h2>The View of World in 2100</h2>
    <div>
        <figure>
            <img src="./img/world.jpg" alt="the globe" /> 
            <figcaption  class="figdetail">World's future in the hands of humans</figcaption>
        </figure>
        <p>With emerging techniques and advance in technolgy, forecasting is possible for almost every topic for close future. Weather, climate change, economy and population are just some examples for successful guests of scientist and researchers. However, when it comes to foresee an event in the long run success rate drops.</p>
        <p>Thinking about the world in 2100, the only thing we know is that the current life style and consumpiton habits are not sustainable. While percentage of forests  decreases, the number of factors such as CO2 gas and plastics in the ocean keeps increasing and polluting our world.Contries introducing green earth plans such as Zero Plastic Waste program in Canada, to prevent an unpleasant outcome. Still, It will take some time for people to adapt that new lifestyle while changing the way they consume and recycle.</p>
    </div>
</article>
