    <!-- Portfolio Cards Starts -->
    <section class="pc">
        <section class="cards">
            <article class="card">
                <a href="#">
                <figure class="img">
                      <img src="/img/notebook.jpg" alt="Notebook">
                      <figcaption>UX</figcaption>
                </figure>
                </a>
            </article><!-- .card -->

            <article class="card">
                <a href="#">
                <figure class="img">
                      <img src="/img/camera.jpg" alt="camera">
                      <figcaption>Photography</figcaption>
                </figure>
                </a>
            </article><!-- .card -->

            <article class="card">
                <a href="#">
                <figure class="img">
                      <img src="/img/coding.jpg" alt="coding">
                      <figcaption>Web Design</figcaption>
                </figure>
                </a>
            </article><!-- .card -->

            <article class="card">
                <a href="#">
                <figure class="img">
                      <img src="/img/effects.jpg" alt="effects">
                      <figcaption>Graphic Effects</figcaption>
                </figure>
                </a>
            </article><!-- .card -->

            <article class="card">
                <a href="#">
                <figure class="img">
                      <img src="/img/girl.jpg" alt="photoshop">
                      <figcaption>Photoshop</figcaption>
                </figure>
                </a>
            </article><!-- .card -->

            <article class="card">
                <a href="#">
                  <figure class="img">
                      <img src="/img/palette.jpg" alt="color-palette">
                      <figcaption>Illustration</figcaption>
                </figure>
                </a>
            </article><!-- .card -->
        </section><!-- .cards -->
    </section><!-- .pc -->
        <!-- Portfolio Cards Ends -->
